# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Explore popular programming languages for Data Science, such as Python and R.
- Understand fundamental concepts of machine learning algorithms, including supervised and unsupervised learning techniques.
- Apply data visualization techniques using libraries like Matplotlib and Seaborn to represent insights effectively.
- Utilize pandas library for data manipulation, including data cleaning, filtering, and aggregation.
- Gain familiarity with exploratory data analysis (EDA) methodologies and their significance in Data Science.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
- **NumPy**
- **Pandas**
- **Scikit-learn**

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| VS Code with Python   |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This is a simple arithmetic expression to multiply then add integers.

In [3]:
result = (3 * 4) + 5
print(result)

17

#### This will convert 200 minutes to hours by dividing by 60

In [5]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Taimoor Asghar